<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>

  </head>
  <body>

    <nav class='navbar navbar-expand-sm'>
      <!-- brand: logo and name -->
      <a class='navbar-brand' href='/home'>
        <img src="/static/images/logo.png" width="30" height="30" alt="">
        <!-- width="30" height="30" class="d-inline-block align-top" alt=""> -->
        RESOLUTE
      </a>
      <!-- elements on the left -->
      <div class='navbar-nav' id='nav-item-container-left'>
        <!-- navbar items are inserted here -->
      </div>
      <!-- elements on the right -->
      <div class='navbar-nav ml-auto' id='nav-item-container-right'>
        <!-- buttons are inserted here -->
      </div>
    </nav>

    <div class="container main">
      <div class="row">
        <div class="col-3 button-container">
          <!-- button to create a new resolution goes here -->
          <a role="button" class="btn btn-danger resolution-btn" href='/new-goal'>MAKE A NEW RESOLUTION</a>
          <!-- <button type='button' class="btn btn-danger resolution-btn">MAKE A NEW RESOLUTION</button> -->                   
        </div>

        <div class="col-6 feed-container">
          <h4>Create Post</h4>
          <!-- The code below could be good if we choose to log different types of goals -->
          <!-- <h4>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create Post
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </h4> -->

          <div id='new-story'>
            <!-- new story input will be inserted here -->

          </div>

          <div id='stories'>
            <!-- stories are inserted here -->


          </div>
        </div>

        <div class="col-3 leaderboard-container">
          <p class='rankings-title'>TODAY'S RANKINGS</p>
          <div id='rankings'>
            <!-- rankings are inserted here -->
            <!-- Source:  https://stackoverflow.com/questions/47918195/creating-a-basic-html-javascript-leaderboard-->
            <div id="scoreboard">
              <table id="rankings">
                <tr id="rankingHeader">
                  <th>Name </th>
                  <th>Pages Read</th>
                  <th>Goal</th> 
                </tr>

                <tr>
                  <td class="name">Chris McKinney</td>
                  <td class="pagesRead">3000</td>
                  <td class="goal">6000</td>
                </tr>

                <tr>
                    <td class="name">Mariana G</td>
                    <td class="pagesRead">2000</td>
                    <td class="goal">5000</td>
                </tr>

                <tr>
                    <td class="name">Ben Bitdiddle</td>
                    <td class="pagesRead">1000</td>
                    <td class="goal">1500</td>
                </tr>

                <tr>
                    <td class="name">Melon Usk</td>
                    <td class="pagesRead">800</td>
                    <td class="goal">1600</td>
                </tr>


              </table>
              <!--  
              <div class="scoreboardHeader">
                <div class="name">Name</div>
                <div class="pages">Pages Read</div>
                <div class="goal">Goal</div>

              </div>
          
              <div class="scoreboardRow">
                <div class="name">Chris M</div>
                <div class="pages">1200</div>
                <div class="goal">3000</div>

              </div>
          
              <div class="scoreboardRow">
                <div class="name">Mariana G</div>
                <div class="pages">1000</div>
                <div class="goal">3000</div>

              </div>
          
              <div class="scoreboardRow">
                <div class="name">Ben Bitdiddle</div>
                <div class="pages">900</div>
                <div class="goal">1800</div>
              -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="app"></div>
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/feed.js"></script>
  <script src="/static/js/index.js"></script>
</html>