<!DOCTYPE html>
<html>
  <head>
    <title>Resolute</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/resolute.css">
  </head>
  <body>
    <nav class='navbar navbar-expand-sm'>
      <!-- brand: logo and name -->
      <div class='navbar-brand' href='#'>
        <img src="/static/images/logo.png" width="30" height="30" alt="">
        RESOLUTE
      </div>
      <!-- elements on the left -->
      <div class='navbar-nav' id='nav-item-container-left'>
        <!-- navbar items are inserted here -->
      </div>      
      <!-- elements on the right -->
      <div class='navbar-nav ml-auto' id='nav-item-container-right'>
        <!-- buttons are inserted here -->
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid" id='top'>
      <div class="container">
        <h1>GROWING TOGETHER</h1>
        <p class="lead">More than half of all resolutions fail. This year, they don’t have to be yours.</p>
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid" id='bottom'>
        <div class="container">
          <div class='row'>
            <div class='col'>
              <p class='text no-margin'>Set your own goals.</p>
              <p class='text'>Compete against others.</p>
            </div>
            <div class="w-100"></div>
            <!-- change the div below to col-4? -->
            <div class='col'>
              <p class='text'>Join the growing community of people that successfully achieve their New Year’s resolutions.</p>
            </div>  
            <div class="w-100"></div>
            <div class='col'>
              <a role="button" class="btn btn-danger" href='#learn-more'>LEARN MORE</a>
            </div>
  
          </div>
        </div>
      </div>

  </body>

  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/resolute.js"></script>
</html>